$color-white: #ffffff;

:root {
    --transition: all 0.3s linear;
}

button {
    transition: var(--transition);
}

body {
    background-image: url('./images/background.jpg?as=webp&width=1920&quality=75');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize($color-white, 0.33);
    visibility: hidden;
    z-index: -10;
    opacity: 0;
    transition: var(--transition);

    &.opened {
        visibility: visible;
        z-index: 10;
        opacity: 1;

        .modal-content {
            transform: scale(1);
        }
    }
}

.modal-content {
    background-color: $color-white;
    width: 90%;
    padding: 20px;
    min-height: 200px;
    transform: scale(0.01);
    transition: var(--transition);

    button {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}